@import '../../../styles/variables';

.postDescription {
	border-bottom: gray 2px solid;
	padding-bottom: 10px;
}

.postTags {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

img {
	 max-width: $wellWidth - 50px;
	 cursor: pointer;
}